body,
html,
ul {
    margin: 0;
    padding: 0;
    display: block;
}

body {
    padding: 500px 0;
    background: #fff;
}

.el {
    text-align: center;
    font-size: 32px;
    background-color: aqua;
    border-bottom: 1px solid #000;
    padding: 100px 0;
}

.title {
    text-align: center;
    background-color: #ccc;
    padding: 20px 0;
    margin: 100px 0 0 0;
    font-family: 'arial';
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
}

.buttons {
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: center;
    border-spacing: 0;
    margin: 0;
    padding: 0;
}

.buttons .btn {
    display: table-cell;
    background-color: darkorange;
    vertical-align: middle;
    padding: 20px;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
}

.buttons .btn:hover {
    background-color: #FFC072;
}
